.footer {
    background: $footerBackground;
    padding-top: 66px;
    padding-bottom: 22px;
    color: $whiteColor;

    &__item {
        margin-bottom: 72px;
    }

    &__item:first-of-type {
        text-align: center;
        padding: 0 20px;
    }

    &__item:last-of-type {
        margin-bottom: 0;
        margin-top: -10px;
        padding-right: 30px;
    }

    &__list,
    &__navigation-list,
    &__socials {
        @include reset();

        list-style: none;
    }

    &__list {
        box-sizing: border-box;
        padding: 0 55px;
    }

    &__header {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        margin-bottom: 30px;
    }

    &__item:first-of-type &__header {
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.2px;
        margin-bottom: 22px;
    }

    &__text,
    &__link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.2px;
        color: $muteColor;
        margin-bottom: 13px;
    }

    &__link {
        text-decoration: none;
        display: inline-block;

        &:hover,
        &:focus {
            cursor: pointer;
            transition: all 0.6s;
            color: $mainColor;
        }

        &:active {
            opacity: 0.4;
        }
    }

    &__socials,
    &__join {
        display: none;
    }
}

@media(min-width: $tablet) {
    .footer {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            width: 300px;
        }

        &__item:first-of-type {
            padding: 0;
        }

        &__item:first-of-type,
        &__item:first-of-type &__header {
            text-align: left;
        }

        &__join {
            margin-bottom: 47px;
        }

        &__socials,
        &__join {
            display: flex;
        }

        &__item:last-of-type {
            margin-bottom: 0;
            margin-top: 0;
            padding-right: 0;
        }
    }
}

@media(min-width: $desktop) {
    .footer {
        padding-top: 110px;
        padding-bottom: 94px;

        &__list {
            padding: 0;
        }

        &__item {
            max-width: 235px;
            margin-bottom: 0;
        }

        &__header {
            margin-bottom: 32px;
        }

        &__item:first-of-type &__header {
            position: relative;
            top: -8px;
        }

        &__link,
        &__text {
            margin-bottom: 12px;
        }

        &__item:last-of-type &__text {
            margin-bottom: 38px;
        }

        &__join {
            margin-bottom: 50px;
            position: relative;
            left: -2px;
            top: 3px;
        }

        &__socials {
            margin-left: 7px;
        }
    }
}