.main {
    &__header {
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $textSecondColor;
    }

    &__category {
        display: inline-block;
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
    }

    &--red {
        color: $orangeColor;
        font-weight: 500;
    }
}