.slider-arrow {
    @include reset();

    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--prev {
        transform: rotate(-180deg);
    }
}

.slider-arrow.swiper-button-disabled {
    svg path {
        fill: $muteColor;
    }
}