.top {
    background-image: url('../../img/girl.jpg');
    background-position: center left 75%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: $whiteColor;

    @media (min-resolution: $retina-dppx) {
        background-image: url('../../img/girl@2x.jpg');
    }

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(23, 23, 23, 0.5);
    }

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
    }
}