// font
$montserrat: "Montserrat", "Arial", sans-serif;

// colors
$textColor: #252b42;
$textSecondColor: #737373;
$mainColor: #2091f9;
$mainColorPale: #8ec2f2;
$backgroundColor: #fafafa;
$whiteColor: #ffffff;
$orangeColor: #e74040;
$muteColor: #bdbdbd;
$footerBackground: #191c27;
$borderColor: #dedede;
$borderSecondColor: #f1f1f1;

//widths
$containerWidth: (1440px - 195px * 2);
$tablet: 768px;
$desktop: 1090px;

//retina
$retina-dppx: 1.5dppx;
